body {
    background: #fafafa;
    font-family: "Georgia", serif;
    color: #333;
}

#main {
    width: 30em;
    margin: 0 auto;
}

#editZone {
  background: #eee;
  width: 400px;
  height: 400px;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
